body {
    margin: 0;
    padding: 100px;
    background-color: #ebe0d7;

}

h1, h2 {
    color: #1e3f3f;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

p, li {
    color: #1c1c1c;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.25;

    /* .emoji{
        font-family: 'Noto Color Emoji', sans-serif;
    } */
}
span.emoji{
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 120%;
}

p.tag {
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px 0 0;
}
div.project {
    border-bottom: 1px #1e3f3f solid;
    padding-bottom: 20px;
    
    .tags {
        display: flex;
    }
}
  
  /* Add your styles here */
  