/* Regular styles for all screens */
body {
    margin: 0;
    padding: 100px;
    background-color: #fcfbfa;

}

header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger menu styles */
.hamburger-menu {
    height: 64px;
    width: 64px;
    background-image: url('assets/noun-hamburger-navy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    
}

nav {
    display: none; /* Hide the navigation for smaller screens */
    /* position: absolute;
    top: 60px;
    right: 0; */
    width: 250px; /* Set the width of the overlay */
    height: 100%; /* Make the overlay cover the entire screen height */
    position: fixed;
    /* top: 0; */
    right: -250px; /* Initially position the overlay off-screen */
    background-color: #0D093B; /* Replace with your preferred background color */
    overflow-x: hidden;
    transition: 0.5s; /* Add a smooth transition effect */
    z-index: 1; /* Set the overlay below the content but above the hamburger menu */

}

nav.active {
    display: flex; /* Show the navigation when active (toggled) */
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    flex-wrap: nowrap;
    right: 100px; /* Move the overlay to the screen */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; */
}

nav li {
    margin: 8px 20px;
    text-align: right;
    
}

nav a {
    text-decoration: none;
    /* font-weight: bold; */
    color: #fcfbfa;
}


h1, h2 {
    color: #0D093B;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

p, li {
    color: #1c1c1c;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.25;

}
span.emoji{
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 120%;
}

p.tag {
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px 0 0;
}
a {
    /* color: #590696; Looks like a visited link */
    color: #C70A80;
}

div.project, div.detail {
    border-bottom: 1px #1e3f3f solid;
    padding-bottom: 20px;
    
    .tags {
        display: flex;
    }
}
iframe {
   /*width: 100%;*/
    /*height: 450px;*/
}

div.detail {
    /* width: 100%;
    background-color: #fafafa; */
    padding-top: 20px;
}

.img-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FAFAFA;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}
.lightbox-image{
    cursor: pointer;
}
.lightbox img {
    max-width: 98%;
    max-height: 98%;
}
.lightbox.active {
    display: flex;
}


  

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {
    /* Add any other mobile-specific styles */
    body {
        padding: 20px;
    }
    iframe {
        height: 300px;
    }
    nav.active {
        display: flex; /* Show the navigation when active (toggled) */
        /* flex-direction: row-reverse; */
        justify-content: flex-end;
        flex-wrap: nowrap;
        right: 25px; /* Move the overlay to the screen */
        top: 0;
        width: 100%;
        height: 100%;
    }

}
  
/* Media query for screens between 768px and 1023px (tablet landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add any other tablet-specific styles */
    body {
        padding: 20px;
    }
    iframe {
        height: 300px;
    }

}
  
/* Media query for screens 1024px and larger (desktop) */
 @media only screen and (min-width: 1024px) {
    /* Add any other desktop-specific styles */

 }
  